docker/* linguist-documentation
vagrant/* linguist-documentation
frontend/index.html linguist-documentation
vendor/* linguist-vendored
*.hcl linguist-documentation
build.sh linguist-documentation
terraform/* linguist-documentation
